<!DOCTYPE html>
<html>
<head>
    <title>Resume Privacy Risk Assessment Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="logo">🛡 Resume Privacy Risk Assessment Tool</div>
</div>

<div class="container">

    <div class="hero">
        <h1>Analyze Your Resume Before Sharing It</h1>
        <p>Analyze resumes for privacy risks, sensitive information exposure, and suspicious URLs before sharing them with recruiters or job portals.</p>
    </div>

    <div class="upload-card">
        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <div class="upload-box">
                <h2>Upload Resume</h2>
                <p>Supported file: PDF</p>

                <input type="file" name="resume" required>

                <br>

                <button type="submit">Start Privacy Analysis</button>
            </div>
        </form>
    </div>

    <div class="grid">
        <div class="stat">
            <h2>Privacy</h2>
            <p>Detect unnecessary sensitive information</p>
        </div>

        <div class="stat">
            <h2>AI Analysis</h2>
            <p>Identify names, organizations, and locations</p>
        </div>

        <div class="stat">
            <h2>URL Security</h2>
            <p>Check suspicious resume links</p>
        </div>

        <div class="stat">
            <h2>PDF Report</h2>
            <p>Generate downloadable assessment reports</p>
        </div>
    </div>

</div>

</body>
</html>