<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Security Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="navbar">
    <div class="logo">🛡 AI Resume Security Analyzer</div>
</div>

<div class="container">

    <div class="hero">
        <h1>Analyze Your Resume Before Sharing It</h1>
        <p>Detect sensitive data exposure, phishing links, privacy risks, and generate a security report.</p>
    </div>

    <div class="upload-card">
        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <div class="upload-box">
                <h2>Upload Resume</h2>
                <p>Supported file: PDF</p>

                <input type="file" name="resume" required>

                <br>

                <button type="submit">Analyze Resume Security</button>
            </div>
        </form>
    </div>

    <div class="grid">
        <div class="stat">
            <h2>PII</h2>
            <p>Detect email, phone, ID leaks</p>
        </div>

        <div class="stat">
            <h2>NLP</h2>
            <p>AI entity recognition</p>
        </div>

        <div class="stat">
            <h2>URL</h2>
            <p>Suspicious link checks</p>
        </div>

        <div class="stat">
            <h2>PDF</h2>
            <p>Downloadable report</p>
        </div>
    </div>

</div>

</body>
</html>